# global:
#   scrape_interval: 15s
#   evaluation_interval: 15s

# scrape_configs:
#   - job_name: 'fastapi-gateway'
#     static_configs:
#       - targets: ['fastapi-gateway:8000']
#     metrics_path: '/metrics'

#   - job_name: 'cadvisor'
#     static_configs:
#       - targets: ['cadvisor:8080']

#   - job_name: 'prometheus'
#     static_configs:
#       - targets: ['localhost:9090']
#   - job_name: 'agent-worker'
#     static_configs:
#       - targets: ['agent-worker:8001']
#       # - targets: ['prometheus:9090']


global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Job 1: Collects User Feedback metrics from FastAPI
  - job_name: 'fastapi-gateway'
    metrics_path: '/metrics'
    static_configs:
      - targets: ['fastapi-gateway:8000', 'host.docker.internal:8000']

  # Job 2: Collects LLM Latency & Token metrics from the Worker
  - job_name: 'agent-worker'
    static_configs:
      - targets: ['agent-worker:8001']
    metrics_path: '/'

  # Job 3: Infrastructure and Health
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
